{
  "presets": [
    "env"
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "lodash"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
