{
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": false
      }
    ],
    "lodash"
  ],
  "env": {
    "cjs": {
      "presets": [
        "env",
        "stage-0"
      ]
    },
    "esm": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "stage-0"
      ]
    },
    "test": {
      "presets": [
        "env",
        "stage-0"
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}
